# infrastructure
CLOUDFLARE_TUNNEL_TOKEN= # from cloudflare dashboard
NATS_URL=ws://localhost:8080 # change to wss://cloudflare-url when deploying to the open internet
NATS_TOKEN=empty # generate a a token when deploying

# nats jetstream settings
NATS_STREAM=CRAWL # stream name
RESULTS_BUCKET_NAME=crawl-results # object store bucket for results
NATS_SUBJECT_PREFIX=crawl.urls # subject prefix (example subject: crawl.urls.experimentname_38b31jja)
NATS_ACK_WAIT_SECONDS=45 # seconds without heartbeat until nats re-delivers the task to someone else

# worker settings
ONLY_ALLOW_RESIDENTIAL_CONNECTIONS=FALSE # should we terminate if launched on a worker behind a VPN / Tor / Datacentre IP?
NUM_CRAWLERS=5 # number of crawlers (independent browser contexts) to spawn at once
HEADLESS=false # whether to enable headless-mode
BROWSER_TYPE=webkit # can be one of 'chromium', 'webkit', 'firefox'
GOTO_TIMEOUT_MS=20000 # how long to wait for load until website considered dead
SCROLL_DELAY_SECONDS=0.2 # how long to wait between scrolls
NATS_CONNECT_TIMEOUT=5.0 # seconds to wait on first connection to nats before giving up
NATS_RECONNECT_WAIT=2.0 # seconds to wait between reconnect tries if nats goes down
PERSISTENCE_BATCH_SIZE=10000 # how many elements (requests / responses / cookie accepts) should be in a single .parquet file?
FLUSH_THRESHOLD=15 # after how many urls to save progress (flush all and ack)
FETCH_TIMEOUT=10.0 # how long a fetch blocks waiting for new task before returning empty (seconds)
HEARTBEAT_SECONDS=15 # seconds between "heartbeats" (which inform nats of currently running tasks). Should be shorter than NATS_ACK_WAIT_SECONDS to prevent duplicate work
IDLE_SLEEP=0.1 # how long to wait between fetching tasks if empty
QUEUE_RETRY_DELAY_SECONDS=5.0 # seconds to wait when the queue throws error.
WATCHDOG_TIMEOUT_SECONDS=600.0 # seconds without progress before the worker is considered stuck
MAX_RETRIES=3 # max nats reconnect attempts before giving up
LOGGING_LEVEL=INFO # python logger level
# uncomment for x11 forwarding (see worker/README.md)
# DEBUG_DISPLAY=host.docker.internal:0

# scripts settings
SEED_PUBLISH_BATCH_SIZE=1000 # amount of tasks to seed to nats at once (batch size)

# storage
# s3, local, or memory (default: memory)
# s3: set if using an s3 compatible object store.
# local: set if using a local directory.
# memory: in-memory store (not shared across processes).
STORAGE_TYPE=memory
LOCAL_STORAGE_PATH=/tmp/crawler_results

S3_ENDPOINT_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
